<a href="https://colab.research.google.com/github/fabioobm/desafio_engenharia/blob/main/F3157395_engenharia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Identificação do participante

Preencha a célula abaixo com sua matrícula no formato F + 7 algarismos, sem dígito verificador.

Exemplo:

    chaveF = "F1234567"

In [1]:
chaveF = "F3157395"

# Desafio Engenharia de Dados

A Dipes precisa fazer o acompanhamento do cumprimento dos indicadores de algumas Unidades Estratégicas e solicitou à UAN o desenvolvimento de um dashboard. Os colegas da equipe de Dataviz identificaram a necessidade de <b>disponibilização de algumas bases de dados</b> para desenvolvimento do dashboard, principalmente para o acompanhamento das <b>Trilhas de Capacitação</b> das Unidades Estratégicas:

|PREFIXO|SIGLA|
|---|---|
|8008|DIREC|
|8556|DICRE|
|8559|DIPES|
|8593|DIGOV|
|9797|UCI|
|9880|DIMEP|
|9968|UAN|
|9973|DIEMP|

A equipe de Engenharia de Dados foi então acionada para preparação das bases de dados conforme abaixo detalhado.

<b>Dados essenciais:</b>
- acompanhamento do cumprimento do indicador de capacitação por matrícula dos funcionários das Diretorias alvo da análise
- acompanhamento do cumprimento por UOR das Unidades Estratégicas, contendo a Vice-Presidência jurisdicionante

Além disso, a equipe de Dataviz solicitou que a equipe de engenharia reunisse algumas informações úteis para análise e levantamento de insights, tais como:
- dados de função, escolaridade, idade, tempo de banco e estado civil de cada funcionário das dependências citadas.
- detalhamentos sobre a área dos cursos que os funcionários concluíram nos últimos 3 anos para identificação do perfil.

# Orientações Gerais:

1) Inclua sua matrícula na seção de Identificação, no início deste Notebook.

2) **Link para envio das soluções:**

- https://envio-academiabb.bb.com.br/

    - **Atenção:** não serão acatadas outras formas de envio. O link acima permite acesso com senha de portais externos.

3) Selecione a Trilha Engenharia ao enviar.

**Nome do arquivo:** cada participante deverá baixar o presente arquivo e renomeá-lo de modo a conter:

- A matrícula com F maiúsculo, sete algarismos e sem dígito (FXXXXXXX)

- A trilha a qual a entrega se refere em letras minúsculas: engenharia

- O nome não deve conter espaços em branco. Substitua-os por “_”.

- O versionamento será gerado automaticamente na subida do arquivo, por meio do timestamp do envio.

    - Exemplo1: F1234567_engenharia.ipynb

    - Exemplo2: F1234567_engenharia_v3.ipynb

**Formato:** .ipynb

- **Atenção:** não carregar nenhum outro formato de arquivo, pois será ignorado

**Prazo final:** até às 18h (horário de Brasília) do dia 20/09/2024.

## Requerimentos de versões

Para construção do desafio em qualquer ambiente diferente do [labblite](https://labblite.bb.com.br/), deverão ser utilizadas as versões de biblioteca abaixo especificadas:

|Biblioteca|Versão|
|---|---|
|pandas|1.5.2 ou inferior|
|numpy|1.23.5 ou inferior|
|unidecode|1.3.8 ou inferior|
|pathlib|sem indicativo de versão|
|glob|sem indicativo de versão|

Essas versões são padrão no labblite, e você pode checar após importação da biblioteca por meio da instrução:
    
    print(nome_biblioteca. __version__)

Caso identifique a necessidade de utilização de alguma biblioteca diferente das listadas acima, entre em contato com a comissão organizadora para verificar a possibilidade de utilização no script, sob o risco de gerar erros durante a validação.

## Pode:

- Inserir células no notebook.

    Obs: as células adicionadas após a seção do Boletim de Soluções não surtirão efeitos para fins de validação dos resultados dos exercícios propostos.

- Fazer vários envios (tantos quantos forem necessários).

- Nas máquinas do Banco, desenvolver na plataforma [Labblite](https://labblite.bb.com.br/)

- O participante que optar por desenvolver no computador pessoal, poderá utilizar qualquer plataforma que permita a execução de scripts em Python, desde que atente para as versões das bibliotecas mencionadas na seção "Requerimentos de versões" acima especificada.
    
    Atenção: consulte as versões homologadas pelo Banco no aplicativo <b>BB Verifica Software</b> antes de instalar qualquer aplicativo nas máquinas corporativas.

## Não pode:

- Compartilhar arquivos/código, sob pena de desclassificação de todas as partes envolvidas.

- Alterar as bases de dados disponibilizadas. Os itens contidos na pasta “bases” devem permanecer inalterados quanto a:
    - Nome e tipo dos arquivos/pastas
    - Conteúdo
    - Estrutura das pastas iniciando em “bases”

- Descompactar os arquivos correspondentes às bases de dados. Os arquivos disponibilizados no formato .zip deverão ser lidos nesse mesmo formato.

- Gerar arquivos de qualquer formato durante a execução, com exceção daqueles gerados pelo Boletim de Soluções.

- Utilizar outros arquivos além dos disponibilizados no pacote do desafio do Eixo Temático Engenharia de Dados.

- Excluir ou alterar linhas do Boletim de Soluções (exceto quando explicitamente orientado pela comissão organizadora do Programa).

- Apresentar erros no código no momento da validação.

- O tempo total de execução do notebook não poderá exceder 2 minutos.

- Importar bibliotecas no código enviado para validação. Caso necessite instalar bibliotecas durante o desenvolvimento da solução, as linhas deverão ser comentadas antes do envio, sob o risco de apresentar erros ou exceder o tempo de execução do notebook durante a validação dos exercícios.
    
    *Atenção:* as bibliotecas mapeadas estarão previamente instaladas no ambiente de execução da solução validadora. Caso identifique a necessidade de utilizar alguma biblioteca diferente das mencionadas na seção "Requerimentos de versões", entre em contato com a comissão organizadora para verificar a viabilidade de utilização.

## Geras para o Nome Físico das colunas

- Observe atentamente a documentação constante no enunciado de cada exercício, para evitar apontamentos nas verificações.

- A ordem dos atributos deverá ser obedecida na construção dos DataFrames.

- A nomenclatura de todos os campos dos DataFrames deverá seguir o padrão de nomenclatura do Banco, conforme consulta disponível no Glossário.

- O nome físico não deve conter espaços, devendo as abreviações ser separadas por “_”.

- Todas as palavras do Nome Lógico deverão ser abreviadas, com exceção apenas das preposições (ex.: de, com, para, até, etc.).

- Ao consultar o Glossário, é importante atentar para a existência de palavras compostas, que devem ser abreviadas juntas.

## Demais recomendações/Orientações

- Leia atentamente o enunciado dos exercícios. Eventuais cálculos, formatações, filtros, transformações ou arredondamentos dos dados serão detalhados na descrição de cada atributo.

- Verifique o indicativo de nível de dificuldade e de ordem de solução dos exercícios, pois alguns têm como requisito a conclusão de algum exercício anterior na íntegra.

- Não se esqueça de salvar seu projeto! Sugerimos fazer vários versionamentos dos arquivos, para não correr riscos de perder alterações e para ter um backup, caso algo não saia como o planejado.

- Não se assuste com os apontamentos de erros durante o desenvolvimento dos exercícios. Observe as orientações e dicas para solucioná-los com maior assertividade.

- Ao fazer junção de tabelas, não se esqueça de conferir as quantidades de linhas e colunas das tabelas originais e tenha sempre em mente o seu objetivo antes de escolher o método de junção (interna, esquerda, direita ou total).

- Ao copiar variáveis, utilize preferencialmente o método copy() para evitar corromper as variáveis que serão utilizadas para conferência dos exercícios.

- Faça envios parciais, tantos quanto for necessário. Não há limite de quantidade de envios. O ideal é submeter seu notebook a cada exercício concluído, para evitar acúmulo de apontamentos na validação.

- Execute o Notebook na íntegra antes de efetuar seus envios para testar o tempo de execução e a ocorrência de erros, mesmo que ainda não tenha finalizado todos os exercícios.

- Utilize o Boletim de Soluções ao final do Notebook Modelo para checar a existência das variáveis de cada exercício. Não se esqueça de informar a sua chave F (chaveF) na seção de Identificação.

- Após execução na íntegra do seu notebook, visualize suas variáveis finais, aquelas que serão utilizadas para correção dos exercícios, para chegar eventuais alterações indesejadas nas variáveis. Exemplo:
    
        exercicio1.info()
        exercicio2.info()


**Atenção:** encorajamos a colaboração entre os participantes, porém sempre no sentido de ajudar os demais a chegarem à resposta, nunca respondendo diretamente às perguntas ou compartilhando os arquivos/código.

# Importar bibliotecas

Use esse espaço para importar as bibliotecas necessárias para execução do seu notebook.

Lembrando que eventuais instalações de bibliotecas durante o desenvolvimento deverão ser retiradas ou comentadas antes do envio.

In [2]:
# Atenção, somente descomente as células abaixo caso não esteja desenvolvendo no labblite
# após instalação, comente novamente as células

#!pip3 install --force-reinstall --user pandas==1.5.2
#!pip3 install --force-reinstall --user numpy==1.23.5
#!pip3 install --force-reinstall --user unidecode==1.3.8

In [3]:
#!pip install pandas==1.5.2 numpy==1.23.5

In [4]:
# as celulas abaixo referem-se a instalação e importação de bibliotecas para desenvolvimento da solução
# favor não alterar esta célula sem antes consultar a comissão organizadora

try:
    import micropip
    await micropip.install('pandas')
    import pandas as pd
    await micropip.install('unidecode')
    from unidecode import unidecode
    await micropip.install('numpy')
    import numpy as np
    import warnings
    warnings.filterwarnings("ignore")
    from pathlib import Path
    import glob

    mensagem = "Importações de bibliotecas executadas com sucesso"
except:
    try:
        import pandas as pd
        from unidecode import unidecode
        import numpy as np
        import warnings
        warnings.filterwarnings("ignore")
        from pathlib import Path
        import glob

        mensagem = "Importações de bibliotecas executadas com sucesso"
    except Exception as e:
        mensagem = f"{e.args[0]} \nImportações de bibliotecas não executada"
finally:
    print(mensagem)

Importações de bibliotecas executadas com sucesso

# Exercício 1 - Tabela de Vínculo entre as Unidades Organizacionais

<b>Nível de dificuldade:</b> 1

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio1</b> com a tabela que contém o vínculo entre as UORs do Banco.

Na tabela abaixo especificamos as <b>informações descritivas</b> (nome, formato dos dados, etc.) dos atributos (colunas) que deverão constar no dataframe resultante:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Unidade Organizacional Vinculada|CD_UOR_VCLD|Int64|Código identificador de Unidade Organizacional (UOR) vinculada ou JURISDICIONADA.|N|VCL_UOR|CD_UOR_VCLD
|2|Código do Tipo de Vínculo|CD_TIP_VCL|Int64|Código identificador do Tipo de Vínculo ou JURISDIÇÃO utilizado para a vinculação entre Unidades Organizacionais.|N|VCL_UOR|CD_TIP_VCL
|3|Código da Unidade Organizacional Vinculadora|CD_UOR_VCLR|Int64|Código identificador da Unidade Organizacional vinculadora ou JURISDICIONANTE, conforme determinado Tipo de Vínculo ou jurisdição.|N|VCL_UOR|CD_UOR_VCLR
|4|Número do Intervalo de Nível Hierárquico|NR_ITVL_NVL_HRQO|Int64|Representa o intervalo de nível hierárquico entre a UOR Vinculada e a UOR Vinculadora. A partir deste atributo, é possível saber quantos níveis acima ou abaixo encontra-se uma UOR Vinculadora em relação à UOR Vinculada.|S|VCL_UOR|NR_ITVL_NVL_HRQO

Ao final do exerício, o resultado da consulta do cabeçado (<b>.head()</b>) do dataframe exercicio1 deverá seguir a estrutura abaixo exemplificada:

- código a ser executado:


    <i>exercicio1.head()</i>

- exemplo de resultado do código acima com valores fictícios:

||CD_UOR_VCLD|CD_TIP_VCL|CD_UOR_VCL|NR_ITVL_NVL_HRQO|
|---|---|---|---|---|
|0|9999|99|1111|&lt;NA&gt;|
|1|9999|101|2222|&lt;NA&gt;|
|2|9999|1100|3333|&lt;NA&gt;|
|3|9999|1200|4444|&lt;NA&gt;|
|34|9999|1220|5555|&lt;NA&gt;|

   
<b>Regra:</b> a ordem das colunas deverá obedecer à ordem da tabela de informações descritivas constante do enunciado.

<b>Dica 1:</b> verifique o <b>Vocabulário de Termos</b> anexo para saber mais sobre o termo <b>&lt;NA&gt;</b> e o tipo <b>Int64</b>.

<b>Dica 2:</b> os registros nulos somente deverão ser tratados quando expressamente orientado no enunciado do exercício.

In [5]:
exercicio1 = pd.read_csv("https://raw.githubusercontent.com/fabioobm/desafio_engenharia/main/bases/VCL_UOR.csv", sep=";")

In [6]:
exercicio1.head()

   CD_UOR_VCLD  CD_TIP_VCL  CD_UOR_VCLR  NR_ITVL_NVL_HRQO
0         9598          99         4924               NaN
1         9598         101         9598               NaN
2         9598        1060        38047               NaN
3         9598        1090         7638               NaN
4         9598        1100         1993               NaN

In [7]:
exercicio1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40869 entries, 0 to 40868
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_UOR_VCLD       40869 non-null  int64
 1   CD_TIP_VCL        40869 non-null  int64
 2   CD_UOR_VCLR       40869 non-null  int64
 3   NR_ITVL_NVL_HRQO  8452 non-null   float64
dtypes: float64(1), int64(3)
memory usage: 1.2 MB

In [8]:
df1 = exercicio1.copy()

In [9]:
df1.groupby('CD_TIP_VCL').mean()

             CD_UOR_VCLD   CD_UOR_VCLR  NR_ITVL_NVL_HRQO
CD_TIP_VCL
99          67720.729123  52949.303158               NaN
100         69460.456790  12433.176955               NaN
101         67763.612681  15451.479669               NaN
1010        67322.280000  37702.480000               NaN
1030        71821.000000   1993.000000               NaN
...                  ...           ...               ...
9199        67720.729123   4922.000000          4.931228
9202        67829.356688   4910.000000          3.951875
9208        77723.000000  69159.000000          1.000000
9248        73230.735849  64737.962264          1.660377
9250        74448.828571  72317.628571          1.000000

[113 rows x 3 columns]

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40869 entries, 0 to 40868
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_UOR_VCLD       40869 non-null  int64
 1   CD_TIP_VCL        40869 non-null  int64
 2   CD_UOR_VCLR       40869 non-null  int64
 3   NR_ITVL_NVL_HRQO  8452 non-null   float64
dtypes: float64(1), int64(3)
memory usage: 1.2 MB

In [11]:
df2 = df1.astype('Int64')

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40869 entries, 0 to 40868
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_UOR_VCLD       40869 non-null  Int64
 1   CD_TIP_VCL        40869 non-null  Int64
 2   CD_UOR_VCLR       40869 non-null  Int64
 3   NR_ITVL_NVL_HRQO  8452 non-null   Int64
dtypes: Int64(4)
memory usage: 1.4 MB

In [13]:
df2.head()

   CD_UOR_VCLD  CD_TIP_VCL  CD_UOR_VCLR  NR_ITVL_NVL_HRQO
0         9598          99         4924              <NA>
1         9598         101         9598              <NA>
2         9598        1060        38047              <NA>
3         9598        1090         7638              <NA>
4         9598        1100         1993              <NA>

In [14]:
exercicio1 = df2.copy()

# Exercício 2 - Tabela de Unidades Organizacionais (UOR) do BB

<b>Nível de dificuldade (1 a 5):</b> 2

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio2</b> com a tabela UORs do BB, conforme detalhado abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Unidade Organizacional|CD_UOR|Int64|Código identificador de Unidade Organizacional (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las.|N|UOR|CD_UOR
|2|Nome da Unidade Organizacional Reduzido|NM_UOR_RDZ|object|Nome reduzido da Unidade Organizacional.|N|UOR|NM_UOR_RDZ
|3|Sigla da Unidade Organizacional|SG_UOR|object|Reunião das letras iniciais dos vocábulos fundamentais de uma denominação ou título, sem articulação prosódica, constituindo meras abreviaturas. Ex.: "DITEC", "GBASE", "DIREO", "PRESI", etc.|S|UOR|SG_UOR
|4|Data Início de Validade|DT_INC_VLD|datetime64[ns]|Data em que o registro passa a ter validade (geralmente coincide com a data de inclusão).  Formato "AAAA-MM-DD".|N|UOR|DT_INC_VLD
|5|Código do Item da Arquitetura da Unidade Organizacional|CD_ITEM_AQTT_UOR|Int64|Código identificador dos Itens de Arquitetura que existem em uma Instituição Organizacional para orientação da estrutura das Unidades Organizacionais (oriundo do sistema IOR).|N|UOR|CD_ITEM_AQTT_UOR
|6|Código do Tipo da Unidade Organizacional|CD_TIP_UOR|Int64|Código identificador dos Tipos nos quais as Unidades Organizacionais podem ser classificadas. Ex.: "001 - Governo" "003 - Canal de Atendimento",  "004 - Dependências BB",  "005 - Exterior" etc. |N|UOR|CD_TIP_UOR
|7|Código da Dependência da Unidade Organizacional|CD_DEPE_UOR|Int64|Código identificador de Dependências de Instituições Organizacionais. No BB atualmente é utilizado os domínios entre 1 e 9999.Ex.: "0001 - Ag. Rio de Janeiro", "4886 - Ag. Estilo Alvorada-Brasília"|N|UOR|CD_DEPE_UOR
|8|Número da Ordem da Dependência Subordinada|NR_ORD_DEPE_SBDD|Int64|Número identificador de subordinação de uma dependência de IOR's que possuam em sua organização subdependências ou subordinadas. 0 indica a UOR principal da dependência|N|UOR|NR_ORD_DEPE_SBDD

<b>Regra 1:</b> considere apenas as UORs da Instituição Organizacional "Banco do Brasil".

<b>Regra 2:</b> considere apenas as UORs "em funcionamento".

<b>Dica: </b>atenção para o formato da data.

In [15]:
import pandas as pd
import zipfile
import glob
import os

In [16]:
import pandas as pd
import zipfile
import glob

def ler_arquivos_zip(arquivo_zip):
    with zipfile.ZipFile(arquivo_zip, 'r') as zip_ref:
        arquivo_csv = zip_ref.namelist()[0]
        zip_ref.extractall()
        df = pd.read_csv(arquivo_csv)
        # os.remove(arquivo_csv)  # Descomente se quiser remover os arquivos CSV extraídos
        return df

caminho_pasta = "/content/bases/UOR/"  # Substitua pelo caminho correto
arquivos_zip = glob.glob(os.path.join(caminho_pasta, "*.zip"))

dataframes = []
for arquivo in arquivos_zip:
    df = ler_arquivos_zip(arquivo)
    dataframes.append(df)

df_final = pd.concat(dataframes, ignore_index=True)

In [17]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414078 entries, 0 to 414077
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CD_UOR            414078 non-null  int64
 1   CD_IOR            414078 non-null  int64
 2   NM_UOR_RDZ        414078 non-null  object
 3   NM_UOR            414078 non-null  object
 4   DT_INC_VLD        414078 non-null  object
 5   DT_FIM_VLD        414078 non-null  object
 6   DT_ATL            414078 non-null  object
 7   HR_ATL            414078 non-null  object
 8   CD_RSP_ATL        414078 non-null  object
 9   CD_ITEM_AQTT_UOR  414078 non-null  int64
 10  CD_TIP_UOR        414078 non-null  int64
 11  CD_EST_UOR        414078 non-null  int64
 12  CD_PSS_UOR        414078 non-null  int64
 13  NR_CNPJ_UOR       414078 non-null  int64
 14  SG_UOR            70472 non-null   object
 15  IN_RST_ACSS_PSS   414078 non-null  object
 16  IN_UOR_UNCO_MUN   414078 non-null  object
 17  DT_INC_ATVD_UOR   329421 non-null  object
 18  DT_PRVT_ECR_UOR   414078 non-null  object
 19  CD_ENT_LCZC_UOR   70477 non-null   float64
 20  CD_DEPE_UOR       88334 non-null   float64
 21  NR_ORD_DEPE_SBDD  88334 non-null   float64
 22  DV_CD_DEPE_UOR    414078 non-null  int64
dtypes: float64(3), int64(8), object(12)
memory usage: 72.7+ MB

In [18]:
df22 = df_final.copy()

In [19]:
#df23 = df_final.copy()

In [20]:
df_final.head(22)

,CD_UOR,CD_IOR,NM_UOR_RDZ,NM_UOR,DT_INC_VLD,DT_FIM_VLD,DT_ATL,HR_ATL,CD_RSP_ATL,CD_ITEM_AQTT_UOR,...,NR_CNPJ_UOR,SG_UOR,IN_RST_ACSS_PSS,IN_UOR_UNCO_MUN,DT_INC_ATVD_UOR,DT_PRVT_ECR_UOR,CD_ENT_LCZC_UOR,CD_DEPE_UOR,NR_ORD_DEPE_SBDD,DV_CD_DEPE_UOR
0,93001,23,IEPHA,INSTITUTO ESTADUAL PATRIMONIO HISTORICO ARTIST...,31/07/2003,31/12/9999,31/07/2003,16:38:07,F1539483,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,6
1,93002,23,COHAB MG,COMPANHIA DE HABITACAO DO ESTADO DE MINAS GERA...,31/07/2003,31/12/9999,22/03/2004,10:42:52,F2947611,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,5
2,93003,23,RADIO INCONFIDENCIA,RADIO INCONFIDENCIA LTDA ...,31/07/2003,31/12/9999,31/07/2003,16:57:57,F0564088,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,4
3,93004,23,LEMG,LOTERIA DO ESTADO DE MINAS GERAIS ...,31/07/2003,31/12/9999,31/07/2003,17:01:17,F9545076,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,9
4,93005,23,CETEC,FUNDACAO CENTRO TECNOLOGICO DE MINAS GERAIS ...,31/07/2003,31/12/9999,31/07/2003,17:03:06,F1446776,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,5
5,93006,23,MGS,MINAS GERAIS ADMINISTRACAO E SERVICOS S.A. ...,31/07/2003,31/12/9999,31/07/2003,17:07:05,F9065609,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,2
6,93007,23,MGI,MINAS GERAIS PARTICIPACOES S.A. ...,31/07/2003,31/12/9999,31/07/2003,17:09:32,F7375188,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,0
7,93008,22,1 VARA FAZ. PUB.,1 VARA DA FAZENDA P BLICA E AUTARQUIAS - TJMG...,23/07/2003,31/12/9999,03/09/2003,10:35:58,F0335176,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,0
8,93009,22,1 VARA C VEL,1 VARA C VEL - TRIBUNAL DE JUSTI A DE MINAS G...,31/07/2003,31/12/9999,31/07/2003,17:27:08,F8330405,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,5
9,93010,22,1 VARA CRIMINAL,1 VARA CRIMINAL - TRIBUNAL DE JUSTI A DE MINA...,23/07/2003,31/12/9999,03/09/2003,10:33:37,F5073817,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,8
10,93011,22,1 VARA DE FAM LIA,1 VARA DE FAM LIA - TRIBUNAL DE JUSTI A DE MI...,23/07/2003,31/12/9999,03/09/2003,10:37:54,F4968454,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,5
11,93012,22,1 VARA DE T XICOS,1 VARA DE T XICOS - TRIBUNAL DE JUSTI A DE MI...,23/07/2003,31/12/9999,05/09/2003,14:18:35,F1412838,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,4
12,93013,798,1 VARA DO TRABALHO,1 VARA DO TRABALHO DE BELO HORIZONTE ...,31/07/2003,31/12/9999,23/06/2004,10:06:05,F1644957,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,4
13,93014,22,1 VARA FAL E CONC,1 VARA DE FAL NCIAS E CONCORDATAS - TJMG ...,23/07/2003,31/12/9999,03/09/2003,10:37:06,F1504121,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,6
14,93015,22,1 VARA FAZ. MUN.,1 VARA DE FEITOS DA FAZENDA P BLICA MUNICIPAL...,23/07/2003,31/12/9999,03/09/2003,10:39:43,F6252386,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,0
15,93016,798,1 VARA FEDERAL,1 VARA CIVEL DA JUSTI A FEDERAL DE 1 GRAU EM...,31/07/2003,31/12/9999,23/06/2004,10:06:05,F6539853,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,3
16,93017,22,1 VARA FEITOS TRIB,1 VARA DE FEITOS TRIBUT RIOS DO ESTADO - TJMG...,23/07/2003,31/12/9999,05/09/2003,14:20:47,F0904106,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,8
17,93018,22,1 VARA SUC AUSENC,1 VARA DE SUCESS ES E AUS NCIA - TJMG ...,23/07/2003,31/12/9999,03/09/2003,10:24:34,F3326888,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,0
18,93019,798,1 JESP FEDERAL,1 JUIZADO ESPECIAL FEDERAL CIVEL EM BELO HORI...,31/07/2003,31/12/9999,23/06/2004,10:06:05,F1153927,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,3
19,93020,22,10 VARA C VEL,10 VARA C VEL - TRIBUNAL DE JUSTI A DE MINAS ...,23/07/2003,31/12/9999,03/09/2003,10:28:39,F9067155,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,7
20,93021,22,10 VARA CRIMINAL,10 VARA CRIMINAL - TRIBUNAL DE JUSTI A DE MIN...,23/07/2003,31/12/9999,03/09/2003,10:35:03,F2733117,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,8
21,93022,22,10 VARA DE FAM LIA,10 VARA DE FAM LIA - TRIBUNAL DE JUSTI A DE M...,23/07/2003,31/12/9999,03/09/2003,10:38:40,F2542848,0,...,0,NaN,N,N,31/12/9999,31/12/9999,NaN,NaN,NaN,7

In [21]:
import pandas as pd

# Assumindo que você já tem um DataFrame chamado 'df'
colunas_selecionadas = ['CD_UOR', 'NM_UOR_RDZ', 'SG_UOR', 'DT_INC_VLD', 'CD_ITEM_AQTT_UOR', 'CD_TIP_UOR', 'CD_DEPE_UOR', 'NR_ORD_DEPE_SBDD']
df23 = df22[colunas_selecionadas]

In [22]:
df23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414078 entries, 0 to 414077
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CD_UOR            414078 non-null  int64
 1   NM_UOR_RDZ        414078 non-null  object
 2   SG_UOR            70472 non-null   object
 3   DT_INC_VLD        414078 non-null  object
 4   CD_ITEM_AQTT_UOR  414078 non-null  int64
 5   CD_TIP_UOR        414078 non-null  int64
 6   CD_DEPE_UOR       88334 non-null   float64
 7   NR_ORD_DEPE_SBDD  88334 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 25.3+ MB

In [23]:
df23.head()

,CD_UOR,NM_UOR_RDZ,SG_UOR,DT_INC_VLD,CD_ITEM_AQTT_UOR,CD_TIP_UOR,CD_DEPE_UOR,NR_ORD_DEPE_SBDD
0,93001,IEPHA,NaN,31/07/2003,0,1,NaN,NaN
1,93002,COHAB MG,NaN,31/07/2003,0,1,NaN,NaN
2,93003,RADIO INCONFIDENCIA,NaN,31/07/2003,0,1,NaN,NaN
3,93004,LEMG,NaN,31/07/2003,0,1,NaN,NaN
4,93005,CETEC,NaN,31/07/2003,0,1,NaN,NaN

In [24]:
import pandas as pd

# Assumindo que seu DataFrame se chama 'df' e já está carregado

# Dicionário mapeando os nomes físicos aos formatos desejados
map_tipos = {
    'CD_UOR': 'Int64',
    'NM_UOR_RDZ': 'object',
    'SG_UOR': 'object',
#    'DT_INC_VLD': 'datetime64[ns]',
    'CD_ITEM_AQTT_UOR': 'Int64',
    'CD_TIP_UOR': 'Int64',
    'CD_DEPE_UOR': 'Int64',
    'NR_ORD_DEPE_SBDD': 'Int64'
}

# Convertendo os tipos de dados de acordo com o mapeamento
df24 = df23.astype(map_tipos)
#df22['DT_INC_VLD'] = pd.to_datetime(df22['DT_INC_VLD'], format='%Y-%m-%d')
print(df24.dtypes)  # Verificando os tipos de dados após a conversão

CD_UOR               Int64
NM_UOR_RDZ          object
SG_UOR              object
DT_INC_VLD          object
CD_ITEM_AQTT_UOR     Int64
CD_TIP_UOR           Int64
CD_DEPE_UOR          Int64
NR_ORD_DEPE_SBDD     Int64
dtype: object

In [25]:
df24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414078 entries, 0 to 414077
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CD_UOR            414078 non-null  Int64
 1   NM_UOR_RDZ        414078 non-null  object
 2   SG_UOR            70472 non-null   object
 3   DT_INC_VLD        414078 non-null  object
 4   CD_ITEM_AQTT_UOR  414078 non-null  Int64
 5   CD_TIP_UOR        414078 non-null  Int64
 6   CD_DEPE_UOR       88334 non-null   Int64
 7   NR_ORD_DEPE_SBDD  88334 non-null   Int64
dtypes: Int64(5), object(3)
memory usage: 27.2+ MB

In [26]:
#df22['DT_INC_VLD'] = pd.to_datetime(df22['DT_INC_VLD'], format='%Y-%m-%d')
#print(df22.dtypes)  # Verificando os tipos de dados após a conversão

In [27]:
#import pandas as pd

# ... (seu código anterior)

# Corrigindo o formato de data
#df22['DT_INC_VLD'] = pd.to_datetime(df22['DT_INC_VLD'], format='%d/%m/%Y')

# Convertendo os tipos de dados de acordo com o mapeamento
#df22 = df22.astype(map_tipos)

#print(df22.dtypes)  # Verificando os tipos de dados após a conversão

In [28]:
#df22['DT_INC_VLD'] = pd.to_datetime(df22['DT_INC_VLD'], format='%d/%m/%Y')

In [29]:
df25 = df24.copy()
df26 = df24.copy()

In [30]:
import pandas as pd
from dateutil.parser import parse  # for handling different formats (optional)

# ... (your code)

# Identify invalid dates (adjust the condition if needed)
invalid_dates = df25['DT_INC_VLD'].isin(['0001-01-01'])

# Try parsing with dateutil if mixed formats are suspected (optional)
if any(invalid_dates):
    for idx in df25.index[invalid_dates]:
        try:
            df25.loc[idx, 'DT_INC_VLD'] = parse(df25.loc[idx, 'DT_INC_VLD'])
        except:
            pass  # Keep the original value if parsing fails

# Replace remaining invalid dates (or handle them differently)
df25.loc[invalid_dates, 'DT_INC_VLD'] = pd.NA

# Convert to datetime64[ns] with the corrected format
df25['DT_INC_VLD'] = pd.to_datetime(df25['DT_INC_VLD'], format='%d/%m/%Y')

# ... (rest of your code)

In [31]:
df25.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414078 entries, 0 to 414077
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CD_UOR            414078 non-null  Int64
 1   NM_UOR_RDZ        414078 non-null  object
 2   SG_UOR            70472 non-null   object
 3   DT_INC_VLD        414065 non-null  datetime64[ns]
 4   CD_ITEM_AQTT_UOR  414078 non-null  Int64
 5   CD_TIP_UOR        414078 non-null  Int64
 6   CD_DEPE_UOR       88334 non-null   Int64
 7   NR_ORD_DEPE_SBDD  88334 non-null   Int64
dtypes: Int64(5), datetime64[ns](1), object(2)
memory usage: 27.2+ MB

In [32]:
exercicio2 = df25.copy()

In [33]:
exercicio2.head(22)

,CD_UOR,NM_UOR_RDZ,SG_UOR,DT_INC_VLD,CD_ITEM_AQTT_UOR,CD_TIP_UOR,CD_DEPE_UOR,NR_ORD_DEPE_SBDD
0,93001,IEPHA,NaN,2003-07-31,0,1,<NA>,<NA>
1,93002,COHAB MG,NaN,2003-07-31,0,1,<NA>,<NA>
2,93003,RADIO INCONFIDENCIA,NaN,2003-07-31,0,1,<NA>,<NA>
3,93004,LEMG,NaN,2003-07-31,0,1,<NA>,<NA>
4,93005,CETEC,NaN,2003-07-31,0,1,<NA>,<NA>
5,93006,MGS,NaN,2003-07-31,0,1,<NA>,<NA>
6,93007,MGI,NaN,2003-07-31,0,1,<NA>,<NA>
7,93008,1 VARA FAZ. PUB.,NaN,2003-07-23,0,1,<NA>,<NA>
8,93009,1 VARA C VEL,NaN,2003-07-31,0,1,<NA>,<NA>
9,93010,1 VARA CRIMINAL,NaN,2003-07-23,0,1,<NA>,<NA>
10,93011,1 VARA DE FAM LIA,NaN,2003-07-23,0,1,<NA>,<NA>
11,93012,1 VARA DE T XICOS,NaN,2003-07-23,0,1,<NA>,<NA>
12,93013,1 VARA DO TRABALHO,NaN,2003-07-31,0,1,<NA>,<NA>
13,93014,1 VARA FAL E CONC,NaN,2003-07-23,0,1,<NA>,<NA>
14,93015,1 VARA FAZ. MUN.,NaN,2003-07-23,0,1,<NA>,<NA>
15,93016,1 VARA FEDERAL,NaN,2003-07-31,0,1,<NA>,<NA>
16,93017,1 VARA FEITOS TRIB,NaN,2003-07-23,0,1,<NA>,<NA>
17,93018,1 VARA SUC AUSENC,NaN,2003-07-23,0,1,<NA>,<NA>
18,93019,1 JESP FEDERAL,NaN,2003-07-31,0,1,<NA>,<NA>
19,93020,10 VARA C VEL,NaN,2003-07-23,0,1,<NA>,<NA>
20,93021,10 VARA CRIMINAL,NaN,2003-07-23,0,1,<NA>,<NA>
21,93022,10 VARA DE FAM LIA,NaN,2003-07-23,0,1,<NA>,<NA>

In [ ]:
import pandas as pd

dataIncorreta = []  # Lista para armazenar datas inválidas

try:
    # Tente converter a coluna com o formato correto (ajuste se necessário)
    df26['DT_INC_VLD'] = pd.to_datetime(df26['DT_INC_VLD'], format='%Y-%m-%d')
except ValueError as e:
    # Se houver erro, capture a data inválida
    for index, row in df26.iterrows():
        if pd.isna(row['DT_INC_VLD']):  # Verifique se o valor é NaN (ausente)
            continue
        try:
            # Tente converter a data individualmente para capturar todas as datas inválidas
            pd.to_datetime(row['DT_INC_VLD'], format='%Y-%m-%d')
        except ValueError:
            # Armazene a data inválida na lista
            dataIncorreta.append(row['DT_INC_VLD'])
            # Você pode optar por remover a linha com a data inválida:
            # df26.drop(index, inplace=True)

# Após a conversão, verifique os tipos de dados
print(df26.dtypes)

# Verifique se há datas inválidas capturadas
if dataIncorreta:
    print("Datas inválidas encontradas:")
    print(dataIncorreta)

In [ ]:
    print("Datas inválidas encontradas:")
    print(dataIncorreta)

# Exercício 3 - Tabela de cursos realizados por funcionário

<b>Nível de dificuldade (1 a 5):</b> 1

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio3</b> com a tabela dos cursos realizados pelos funcionários, conforme detalhado abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Codigo de matricula do funcionario|?|Int64|Código da matrícula do funcionário. |N|?|?|
|2|Código do Curso|?|Int64|Identificador do curso. Campo numérico de 7 posições. |N|?|?|
|3|Data final do curso|?|datetime64[ns]|Data que identifica a finalizaçao do curso. Formato "AAAA-MM-DD".|N|?|?|
|4|Codigo de origem do curso|?|Int64|O conteudo deste campo indentificara a origem do curso. Exemplo: 01-ARH, 02-GTD, 03-PFP, 04-ALURA, 05-UNIBB, 17-SYNAPSE|N|?|?|

<b>Dica 1:</b> para construir o nome físico das tabelas, consulte as abreviações no Glossário de Termos.

<b>Dica 2:</b> atenção para o formato da matrícula.

# Exercício 4 - Tabela de cadastro dos funcionários

<b>Nível de dificuldade (1 a 5):</b> 2

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio4</b> com a tabela de cadastro dos funcionários, conforme detalhado abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Codigo de matricula do funcionario|?|Int64|Código da matrícula (F) do funcionário. |N|CAD_FUN|?
|2|Nome do funcionário|?|object|Nome do funcionário cadastrado no ARH. Formato: caixa alta, sem acentuação.|N|CAD_FUN|?
|3|Sigla do Tipo do Estado Civil|?|object|Sigla ARH que define o estado civil do funcionário. |N|CAD_FUN|?
|4|Código do Tipo de Nível de Instrução|?|Int64|Código ARH do nível de instrução. |N|CAD_FUN|?
|5|Data de nascimento|?|datetime64[ns]|Data de nascimento. Formato "AAAA-MM-DD".|N|CAD_FUN|?
|6|Código do Tipo de Gênero|?|Int64|Código ARH do sexo/gênero. 1 -Masculino, 2 - Feminino.|N|CAD_FUN|?
|7|Código do Prefixo da Dependência de Localização|?|Int64|Código do prefixo da dependência de localização (UOR). |N|CAD_FUN|?
|8|Código de Função ou Cargo Efetiva|?|Int64|Código ARH da função ou cargo efetivo. Exemplo: 610 - ESCRITURARIO, 12381 - ASSESSOR II UE etc. |N|CAD_FUN|?
|9|Data de Posse na Localização|?|datetime64[ns]|Data de posse na dependência de localização (UOR).  Formato "AAAA-MM-DD".|N|CAD_FUN|?
|10|Data de posse no BB|?|datetime64[ns]|Data de posse no Banco do Brasil. Formato "AAAA-MM-DD".|N|CAD_FUN|?

<b>Dica:</b> atenção para a formatação do nome.

# Exercício 5 - Incremento da tabela de cadastro de funcionários

<b>Nível de dificuldade (1 a 5):</b> 3

<b>Requisitos:</b> exercício 4

Criar um DataFrame Pandas chamado <b>exercicio5</b> contendo os campos adicionais do cadastro do funcionários, conforme abaixo detalhado:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Codigo de matricula do funcionario|?|Int64|Código da matrícula (F) do funcionário. |N|?|?|
|2|Nome do funcionário|?|object|Nome do funcionário cadastrado no ARH. Formato: caixa alta, sem acentuação.|N|?|?|
|3|Código de Função ou Cargo Efetiva|?|Int64|Código ARH da função ou cargo efetivo. Exemplo: 610, 12381, etc. |N|?|?|
|4|Nome da Função ou Cargo Efetivo|?|object|Nome da função ou cargo efetivo. Exemplo: 610 - ESCRITURARIO, 12381 - ASSESSOR II UE etc. |S|?|?|
|5|Código do Prefixo da Dependência de Localização|?|Int64|Código do prefixo da dependência de localização (UOR). |N|?|?|
|6|Data de Posse na Localização|?|datetime64[ns]|Data de posse na dependência de localização (UOR).  Formato "AAAA-MM-DD".|N|?|?|
|7|Data de posse no BB|?|datetime64[ns]|Data de posse no Banco do Brasil. Formato "AAAA-MM-DD".|N|?|?|
|8|Data de nascimento|?|datetime64[ns]|Data de nascimento. Formato "AAAA-MM-DD".|N|?|?|
|9|Código do Tipo de Gênero|?|Int64|Código ARH do sexo/gênero. 1 -Masculino, 2 - Feminino.|N|?|?|
|10|Sigla do Tipo do Estado Civil|?|object|Sigla ARH que define o estado civil do funcionário. |N|?|?|
|11|Nome do Tipo de Estado Civil|?|object|Descrição do estado civil do funcionário. |N|?|?|
|12|Código do Tipo de Nível de Instrução|?|Int64|Código ARH do nível de instrução. |N|?|?|
|13|Nome do Tipo de Nível de Instrução|?|object|Descrição do nível de instrução. |N|?|?|

<b>Regra 1:</b> para a descrição do estado civil, considere os valores abaixo:

|Cod.|Descrição|
|---|---|
|1|SOLTEIRO(A)|
|2|CASADO(A)|
|3|CASADO(A) COM FUNCIONARIA(O)|
|4|VIUVO(A)|
|5|SEPARADO(A) JUDICIAL OU EXTRAJ|
|8|DIVORCIADO(A)|
|M|SEPARADO(A) CONSENSUALMENTE|

<b>Regra 2:</b> para a descrição do nível de instrução, considere os valores abaixo:

|Cod.|Descrição|
|---|---|
|1|ENSINO FUNDAMENTAL|
|2|ENSINO MEDIO|
|3|SUPERIOR EM ANDAMENTO|
|4|SUPERIOR SEQUENCIAL|
|5|SUPERIOR GRADUACAO|
|6|POS-GRADUACAO-APERFEIC|
|7|POS-GRADUCAO-ESPEC|
|8|MESTRADO|
|9|DOUTORADO|

# Exercício 6 - Tabela Catálogo de Cursos

<b>Nível de dificuldade (1 a 5):</b> 3

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio6</b> contendo o catálodo de cursos e formações do Banco, conforme abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código do Curso|?|Int64|Identificador do curso. Campo numérico de 7 posições. |N|?|?|
|2|Nome do Curso|?|object|Nome genérico do curso. |N|?|?|
|3|Texto do Curso|?|object|Breve descrição do assunto abordado pelo curso. |N|?|?|
|4|Texto do Objetivo do Curso|?|object|Texto que descreve o objetivo do curso. |N|?|?|
|5|Texto do Desempenho Esperado|?|object|Texto que descreve o desempenho esperado no curso para o treinando. |S|?|?|
|6|Texto do Objetivo Estratégico|?|object|Texto que descreve quais são os objetivos estratégicos do curso. |S|?|?|
|7|Código da Área de Conhecimento|?|Int64|Código da área de conhecimento do curso. Campo numérico de 3. Exemplo: Área: 170 (Será este atributo) Subárea: 170.050 conhecimento: 170.050.0025.|S|?|?|
|8|Nome da Área de Conhecimento|?|object|Descrição da área de conhecimento do curso.|S|?|?|
|9|Código da Sub Área de Conhecimento|?|Int64|Código da sub-área do conhecimento. Exemplo: Área: 170 Subárea: 170.050 (Será o 050) conhecimento: 170.050.0025.|S|?|?|
|10|Nome da Sub Área de Conhecimento|?|object|Descrição da sub-área do conhecimento.|S|?|?|
|11|Código do Conhecimento do Curso|?|Int64|Código do conhecimento. Identifica o conhecimento do curso.|N|?|?|
|12|Nome do Conhecimento do Curso|?|object|Descrição do conhecimento do curso.|S|?|?|
|13|Quantidade de Carga Horária do Curso|?|Int64|Carga horária total do curso em horas|S|?|?|
|14|Código do Tipo da Formação Superior|?|Int64|Código identificador da formação superior. Ex:   35- Pós-Graduação;  36- Mestrado;  37- Doutorado. |S|?|?|
|15|Texto do Tipo da Formação Superior|?|object|Descrição da formação superior. |S|?|?|
|16|Código da Modalidade do Curso|?|Int64|Indica o código da modalidade do curso. Sendo: 01 - Presencial; 02 - Auto-instrucional; 03 - Em serviço; 09 - A regularizar |N|?|?|
|17|Código do Nível do Curso|?|Int64|Identificador do tipo do nível do curso (enfoque de aprendizagem). Sendo: 01 - Fundamental; 02 - Instrumental; 03 - Estratégico; 04 - Acadêmico; 09 - A classificar. |N|?|?|
|18|Código da Natureza do Curso|?|Int64|Identificador da natureza do curso. 01 - Atualização; 02 - Formação; 03 - Aperfeiçoamento; 04 - Qualificação. |N|?|?|
|19|Código do Tipo de Origem do Curso|?|Int64|Código dos tipos de origem do curso. 01 - Desenvolvido pelo banco; 02 - Contratado no mercado; 03 - Em parceria |N|?|?|
|20|Código do Tipo de Público|?|Int64|Código dos tipos de público (participação) que o curso pode ter. Ex.: 1- Interno;  2- externo; 3- misto. |N|?|?|
|21|Indicador de Vigência do Curso|?|object|Indica a utilização do curso. Possíveis valores: "S" - (SIM) Em Linha; "N" - (NÃO) Fora de linha |N|?|?|
|22|Indicador de Trilha de Estratégica|?|object|Indica se o curso faz parte da Trilha de Estratégica de Capacitação. Possíveis valores: "S" - (SIM); "N" - (NÃO)|N|?|?|
|23|Nome da Etapa|?|object|Descrição do tema da etapa de capacitação para os cursos que fazem parte da Trilha Estratégica. Possíveis valores: ASG, NEGOCIOS, LIDERANCA, TRANSFORMACAO DIGITAL. Formato: caixa alta, sem acentuação.|S|?|?|

<b>Regra 1:</b> todas as colunas de texto devem ser formatadas conforme o padrão caixa alta e sem acento.

<b>Regra 2:</b> os registros das colunas de texto que contiverem nulos deverão permanecer nulos ao final das transformações.

<b>Regra 3:</b> excluir registros que atendam a alguma das regras abaixo:

- quando o Texto do Objetivo do Curso for igual a 'TESTE EDUCA' ou 'TESTE GTD' ou 'TESTE' ou 'TESTANDO' ou 'DADFAFD' ou 'SGASDG' ou 'NXYZ' ou 'R';
- quando o Texto do Objetivo do Curso for igual a 'A' e o Código da Área de Conhecimento for nulo;
- quando o Nome do Curso contiver 'EXCEL TESTE' ou 'TESTE DISCIPLINA' ou 'EXCLUIR' ou 'ALURA';
- quando o Nome do curso for contiver 'TESTE' e o Código da Área de Conhecimento for nulo, com exceção do curso 7740;
- quando o Nome do curso for contiver 'TESTE' e o Texto do Objetivo do Curso for igual a '.';
- quando o Texto do Curso contiver 'TESTE MATERIAL' ou 'TESTE GERAL'.
- quando o Nome do curso ou o Texto do Curso contiverem 'EXCLUIDO'.

# Exercício 7 - Nova tabela de UOR

<b>Nível de dificuldade (1 a 5):</b> 4

<b>Requisitos:</b> exercícios 1 e 2

Criar um DataFrame Pandas chamado <b>exercicio7</b> contendo as informações das UOR e Vice-Presidência jurisdicionante, conforme abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Dependência da Unidade Organizacional|?|Int64|Código identificador de Dependências de Instituições Organizacionais. No BB atualmente é utilizado os domínios entre 1 e 9999.|N|?|?
|2|Código da Unidade Organizacional|?|Int64|Código identificador de Unidade Organizacional (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las.|N|?|?
|3|Sigla da Unidade Organizacional|?|object|Reunião das letras iniciais dos vocábulos fundamentais de uma denominação ou título, sem articulação prosódica, constituindo meras abreviaturas. Ex.: "DITEC", "GBASE", "DIREO", "PRESI", etc.|S|?|?
|4|Nome da Unidade Organizacional Reduzido|?|object|Nome reduzido da Unidade Organizacional.|N|?|?
|5|Código da Dependência da Vice-Presidência|?|Int64|Código identificador da Dependência da Vice-Presidência jurisdicionante da UOR.|S|?|?
|6|Sigla da Vice-Presidência|?|object|Sigla da Vice-Presidência jurisdicionante da UOR.|S|?|?

<b>Regra:</b> considere apenas as UORs cujo Item de Arquitetura corresponda a "DIRETORIA" ou "UNIDADE".

<b>Dica:</b> atenção no momento de fazer a junção das tabelas de UOR e Vínculo de UOR. Lembrando que uma mesma dependência possui várias UORs além da principal. Consulte a documentação das tabelas.

# Exercício 8 - Verificação do cumprimento do indicador - Parte 1

<b>Nível de dificuldade (1 a 5):</b> 4

<b>Requisitos:</b> exercícios 4 e 6

Criar um DataFrame Pandas chamado <b>exercicio8</b> contendo as informações consolidadas de todos os funcionários dos prefixos alvo da análise, conforme abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Matrícula do Funcionário|?|Int64|Código da matrícula (F) do funcionário. |N|?|?|
|2|Código da Unidade Organizacional de Localização|?|Int64|Código da UOR de localização do funcionário.|N|?|?|
|3|Quantidade Total de Cursos|?|Int64|Quantidade total de cursos realizados pelo funcionário no ano atual|N|?|?|
|4|Quantidade Total de Cursos da Trilha|?|Int64|Quantidade total de cursos da Trilha Estratégica realizados pelo funcionário até o momento|N|?|?|
|5|Quantidade Total de Horas no Primeiro Semestre|?|Int64|Quantidade total de horas de treinamento realizadas pelo funcionário no primeiro semestre do ano atual|N|?|?|
|6|Quantidade Total de Horas da Trilha no Primeiro Semestre|?|Int64|Quantidade total de horas de treinamento da Trilha Estratégica realizadas pelo funcionário no primeiro semestre do ano atual|N|?|?|
|7|Quantidade Total de Horas no Segundo Semestre|?|Int64|Quantidade total de horas de treinamento realizadas pelo funcionário no segundo semestre do ano atual|N|?|?|
|8|Quantidade Total de Horas da Trilha no Segundo Semestre|?|Int64|Quantidade total de horas de treinamento da Trilha Estratégica realizadas pelo funcionário no segundo semestre do ano atual|N|?|?|
|9|Indicador de Cumprimento Total da Trilha no Primeiro Semestre|?|object|Indicador que sinaliza se o funcionário realizou todos os cursos da Trilha Estratégica até o primeiro semestre. Possíveis valores: "S" ou "N".|N|?|?|
|10|Indicador de Cumprimento Total da Trilha no Segundo Semestre|?|object|Indicador que sinaliza se o funcionário realizou todos os cursos da Trilha Estratégica até o semestre. Possíveis valores: "S" ou "N".|N|?|?|

<b>Regra1:</b> ignorar os cursos para os quais não houver informação sobre a Carga Horária.

<b>Regra2:</b> atentar para a ocorrência de registros duplicados.

<b>Dica:</b> verifique os prefixos alvo da análise na descrição do desafio.

# Exercício 9 - Verificação do cumprimento do indicador - Parte 2

<b>Nível de dificuldade (1 a 5):</b> 5

<b>Requisitos:</b> exercício 8

Criar um DataFrame Pandas chamado <b>exercicio9</b> contendo todas as informações do exercício 8 mais os atributos relacionados abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|10|Indicador de Funcionário Avaliável no Primeiro Semestre|?|object|Indicador que sinaliza se o funcionário é avaliável no primeiro semestre.|N|?|?|
|11|Indicador de Funcionário Avaliável no Segundo Semestre|?|object|Indicador que sinaliza se o funcionário é avaliável no segundo semestre.|N|?|?|

<b>Regra 1:</b> os funcionários que atenderem às situações abaixo elencadas serão considerados "Não avaliáveis"
- Permanecerem por mais de 90 dias em situação diferente de 100-Força de Trabalho Real no semestre.
- Atuarem como colaboradores (Disponibilidade ou Cessão) ou adidos por mais de 90 dias no semestre.
- Cujo total de dias em situação diferente de 100-Força de Trabalho Real somado ao total de dias em colaboração (Disponibilidade ou Cessão) for maior que 90 dias.
- Estiverem em situação de colaboração ou adição no encerramento da apuração semestral (fechamento do semestre: 30/06/2024 ou 31/12/2024)
- Funcionários empossados no BB há menos de 90 dias no encerramento da apuração semestral.

<b>Regra 2:</b> para fins de apuração do indicador de Capacitação Estratégica, considere:
- como colaboração os funcis que apresentarem situação "DISP" ou "ADIDOS" ou "CEDIDOS", exceto folga.
- como situação diferente de 100-Força de Trabalho Real apenas as situações que contemplarem:
  - Licença Saúde (LS)
  - Licença Interesse
  - Licença Maternidade
  - Licença Paternidade
  - Nascimento de Filho - Pai
  - Licença para assistência a pessoa enferna da família (LIC.P/AS.PES.ENF.FAM-70% PR)

# Exercício 10 - Cumprimento do indicador por prefixo

<b>Nível de dificuldade (1 a 5):</b> 5

<b>Requisitos:</b> exercício 9

<b><<< Parte 1 >>></b>

Criar um DataFrame Pandas chamado <b>exercicio10</b> contendo a consolidação das informações das UORs:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Dependência da Unidade Organizacional|?|Int64|Código identificador de Dependências de Instituições Organizacionais. No BB atualmente é utilizado os domínios entre 1 e 9999.|N|?|?|
|2|Código da Unidade Organizacional|?|Int64|Código identificador de Unidade Organizacional (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las.|N|?|?|
|3|Sigla da Unidade Organizacional|?|object|Reunião das letras iniciais dos vocábulos fundamentais de uma denominação ou título, sem articulação prosódica, constituindo meras abreviaturas. Ex.: "DITEC", "GBASE", "DIREO", "PRESI", etc.|N|?|?|
|4|Nome da Unidade Organizacional Reduzido|?|object|Nome reduzido da Unidade Organizacional.|N|?|?|
|5|Código da Dependência da Vice-Presidência|?|Int64|Código identificador da Dependência da Vice-Presidência jurisdicionante da UOR.|N|?|?|
|6|Sigla da Vice-Presidência|?|object|Sigla da Vice-Presidência jurisdicionante da UOR.|N|?|?
|7|Quantidade Total de Funcionários da Unidade Organizacional|?|Int64|Quantidade total de funcionários localizados na UOR|N|?|?|
|8|Indicador de Unidade Organizacional Alvo da Análise|?|object|Indica se a UOR é alvo da análise. Possíveis valores: "S" ou "N". |N|?|?|
|9|Índice de Atingimento do Indicador no Primeiro Semestre|?|float64|Indicativo do percentual de atingimento do indicador no primeiro semestre, caso a UOR seja alvo da análise. Varia de 0 a 1, com duas casas decimais.|S|?|?|
|10|Índice de Atingimento do Indicador no Segundo Semestre|?|float64|Indicativo do percentual de atingimento do indicador no segundo semestre, caso a UOR seja alvo da análise. Varia de 0 a 1, com duas casas decimais.|S|?|?|

<b>Regras gerais:</b>
    
- deverão ser listadas apenas as UORs que possuem Vice-Presidência vinculada.

- verifique os prefixos alvo da análise na descrição do desafio.

Considere as regras abaixo para apuração do cumprimento do indicador para cada um dos prefixos alvo da análise:

<b>Regras de apuração individual</b>: o indicador será considerado cumprido para os funcionários que:
- completarem o mínimo de 20 horas total de cursos, sendo no mínimo 10h de treinamentos da Trilha Estratégica, realizados dentro do semestre de apuração
- tiverem cumprido toda a Trilha Estratégica na data de apuração, desde que tenha cumprido o mínimo de 20 horas total no semestre de apuração

<b>Regra de apuração por prefixo</b>: o indicador será considerado cumprido para os prefixos que tiverem 90% do público avaliável com o indicador cumprido no semestre.

<b><<< Parte 2 >>></b>

Considerando as regras de apuração acima, responda às perguntas abaixo tomando por base a apuração do primeiro semestre:

    a) quais os prefixos que cumpriram o indicador?

    b) qual o prefixo com menor índice de cumprimento do indicador?

    c) qual o prefixo com o maior índice de cumprimento do indicador?

    d) qual o prefixo com o menor índice de funcionários não avaliáveis?

    e) qual o maior índice de funcionários não avaliáveis dentre os observados nos prefixos avaliados?

Ao final do exercício, deverá ser criada uma variável para cada um dos itens acima, sendo o nome e o tipo delas conforme abaixo detalhado:

|Item|Nome da variável|Tipo de objeto|
|---|---|---|
|a)|exercicio10a|variável do tipo list, itens do tipo int|
|b)|exercicio10b|int|
|c)|exercicio10c|int|
|d)|exercicio10d|int|
|e)|exercicio10e|float (2casas decimais)|

<b>Regra 1:</b> utilize a função round() para eventuais arredondamentos.

<b>Regra 2:</b> em caso de empate, o desempate será pela maior quantidade de funcionários avaliáveis no prefixo.

# Boletim de soluções

In [ ]:
# importar bibliotecas para geração dos artefatos
import pickle

In [ ]:
# Favor não alterar esta célula
# verificar a existência das variáveis e gerar artefatos para verificação
if 'exercicio1' in globals():
    print('DataFrame exercicio1 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio1.pkl','wb') as f:
        pickle.dump(exercicio1, f)
else:
    print('O exercício 1 não tem condições de ser avaliado.')

if 'exercicio2' in globals():
    print('DataFrame exercicio2 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio2.pkl','wb') as f:
        pickle.dump(exercicio2, f)
else:
    print('O exercício 2 não tem condições de ser avaliado.')

if 'exercicio3' in globals():
    print('DataFrame exercicio3 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio3.pkl','wb') as f:
        pickle.dump(exercicio3, f)
else:
    print('O exercício 3 não tem condições de ser avaliado.')

if 'exercicio4' in globals():
    print('DataFrame exercicio4 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio4.pkl','wb') as f:
        pickle.dump(exercicio4, f)
else:
    print('O exercício 4 não tem condições de ser avaliado.')

if 'exercicio5' in globals():
    print('DataFrame exercicio5 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio5.pkl','wb') as f:
        pickle.dump(exercicio5, f)
else:
    print('O exercício 5 não tem condições de ser avaliado.')

if 'exercicio6' in globals():
    print('DataFrame exercicio6 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio6.pkl','wb') as f:
        pickle.dump(exercicio6, f)
else:
    print('O exercício 6 não tem condições de ser avaliado.')

if 'exercicio7' in globals():
    print('DataFrame exercicio7 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}exercicio7.pkl','wb') as f:
        pickle.dump(exercicio7, f)
else:
    print('O exercício 7 não tem condições de ser avaliado.')

if 'exercicio8' in globals():
    print('DataFrame exercicio8 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}exercicio8.pkl','wb') as f:
        pickle.dump(exercicio8, f)
else:
    print('O exercício 8 não tem condições de ser avaliado.')

if 'exercicio9' in globals():
    print('DataFrame exercicio9 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}exercicio9.pkl','wb') as f:
        pickle.dump(exercicio9, f)
else:
    print('O exercício 9 não tem condições de ser avaliado.')


exercicio10_variaveis = {}

exercicio10_variaveis['variavel'] = []
exercicio10_variaveis['valor'] = []
if 'exercicio10a' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10a')
    exercicio10_variaveis['valor'].append(exercicio10a)
if 'exercicio10b' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10b')
    exercicio10_variaveis['valor'].append(exercicio10b)
if 'exercicio10b' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10c')
    exercicio10_variaveis['valor'].append(exercicio10c)
if 'exercicio10d' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10d')
    exercicio10_variaveis['valor'].append(exercicio10d)
if 'exercicio10e' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10e')
    exercicio10_variaveis['valor'].append(exercicio10e)

exercicio10_variaveis = pd.DataFrame(exercicio10_variaveis)
if exercicio10_variaveis.shape[0] == 5 and 'exercicio10' in globals():
    print('DataFrame exercicio10 localizado. Ele poderá ser enviado para validação.')
    print('Variáveis exercicio10a, exercicio10b, exercicio10c, exercicio10d e exercicio10e localizadas. Elas poderão ser enviadas para validação.')
    exercicio10_variaveis.to_csv(f'{chaveF}_exercicio10_variaveis.csv', header=True, sep=',', index=False)
    with open(f'{chaveF}exercicio10.pkl','wb') as f:
        pickle.dump(exercicio10, f)

else:
    print('O exercício 10 não tem condições de ser avaliado.')